name: Periphery

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  periphery:
    name: Run Periphery
    runs-on:  macos-26

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install Periphery
      run: brew install periphery

    - name: Run Periphery
      run: periphery scan --strict --format github-markdown --write-results periphery.md
    
    - name: Add Periphery results to summary
      if: always()
      run: |
        echo "## Periphery Report" >> $GITHUB_STEP_SUMMARY
        cat periphery.md >> $GITHUB_STEP_SUMMARY
