name: SwiftLint

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  periphery:
    name: Run SwiftLint
    runs-on:  macos-26

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install SwiftLint
      run: brew install swiftlint
    
    - name: Run SwiftLint (GitHub Actions Logging)
      run: swiftlint --reporter github-actions-logging

    - name: SwiftLint (Markdown Summary)
      if: always()
      run: |
        swiftlint --reporter markdown > swiftlint_output.md || true
        echo "## SwiftLint Report" >> $GITHUB_STEP_SUMMARY
        cat swiftlint_output.md >> $GITHUB_STEP_SUMMARY
